---
title: "Cost of Treatments"
layout: "default"
TopMenuCategory: "Cost"
scripts: ['']
priority: 1.0
---

block content
  section#starting
    .starting-wrapper
      .container
        .row
          .team-button
            .col-md-6.col-md-offset-6
              a(href="#booking_anchor").welcome-btn Book a Free Mini consultation

  article
    .cost-table
      .container
        .row
          .col-lg-12.col-sm-12.col-xs-12
            h1.headline.text-center
              | Cost of Vein Treatment
            p.sub-headline.text-center
              | Clear, affordable pricing
            hr

    section.cost
      .container
        .row
          .col-lg-12.col-sm-12.col-xs-12
            table.table.table-striped.table-bordered.table-hover.table-responsive
              thead
                tr
                  th Description
                  th.col-sm-2 Price
                  th.col-sm-2 CCSD (BUPA) Code
              tbody
                tr
                  td Consultation with Vascular Surgeon
                  td &pound; 150
                  td 20300

                tr
                  td Consultation with Vascular Surgeon and Colour Duplex Ultrasound Scan (usually recomended for varicose veins)
                  td &pound; 270
                  td n/a

                tr
                  td Consultation including first treatment session for flare / thread veins
                  td &pound; 280
                  td n/a

                tr
                  td Follow up injection sessions
                  td &pound; 220
                  td n/a

                tr
                  td Foam injection sclerotherapy treatment with ultrasound
                  td &pound; 650
                  td L8620

                tr
                  td Varicose vein surgery (Avulsions) under local anaesthetic (LA)
                  td from &pound; 750
                  td n/a

                tr
                  td Varicose vein surgery under general anaesthetic (GA)
                  td By quotation 
                  td n/a

                tr
                  td Endovenous Laser / Radio-frequency therapy under local anaesthetic
                  td from &pound; 1,500
                  td L8512 / L8540

                tr
                  td Endovenous Laser Therapy under general anaesthetic
                  td By quotation
                  td L8512 / L8540

                tr
                  td Hyperhidrosis Botox Treatment
                  td &pound; 330
                  td n/a

  section
    .container
      .row
        .col-lg-12.col-sm-12.col-xs-12
          h3 Private Health Insurance
          p 
            | We operate as a private clinic so we do not offer free treatment on the NHS. However,
            | if you have private health insurance it is possible your health insurance may cover
            | some or all of the costs. Many insurance companies cover the treatment of vein disorders
            | that are associated with substantial pain and other complications, but individual
            | insurance companies may limit the types of therapy that are covered. Please
            | check with your insurance provider.
          p
            | For your conveience the table above contains the codes that your insurer might ask you for.

  a(name="booking_anchor")
  section#testimonial.text-center
    .testimonial-wrapper
      .container
        .row
          .col-md-5.col-md-offset-1
            h2.text-center
              | Arranging to see someone is easy. We even offer a free 10 minute
              | consultation if you would just like to make sure a treatment can be offered.

          .col-md-4
            != partial('booking_form')

  script.
    new WOW().init();
