---
title: "Cost of Treatments"
layout: "default"
TopMenuCategory: "Cost"
scripts: ['']
priority: 1.0
---

block content
  section#starting
    .starting-wrapper
      .container
        .row
          .team-button
            .col-md-12
              h1.main-title.wow.animated.fadeInLeft Cost of Vein Treatments

  .doctor-portfolio
    .container
      .row
        .col-lg-12.col-sm-12.col-xs-12
          h2.headline.text-center
            | Meet our team
          p.sub-headline.text-center
            | Staffed by NHS consultant surgeons, consultant radiologist, nurse practitioners and theatre sisters
          hr
  section.cost
    .container
      .row
        .col-lg-4.col-sm-6.col-xs-12

  script.
    new WOW().init();
