---
title: "Frequently Asked Questions"
layout: "default"
TopMenuCategory: "FAQs"
scripts: ['']
priority: 1.0
---

block content
    section.faq-title.text-center
      .faq-wrapper
        .container
          .row
            h1.headline Frequently Asked Questions
          .row
            .sub-headline
              p Lorem ipsum dolor sit amet, consectetur 
    section.faq-content
      .container
        .row
          main.col-md-9
            .faq-header Things you need to know...
            .faq-c
              .faq-q
                span.faq-t +
                | Could my cell phone kill me?
              .faq-a
                p
                  | It seems unlikely. But if you use your mobile phone a lot, consider getting an earpiece or putting your caller on speaker so you can hold the phone away from your head. The biggest study yet, in which Danish researchers tracked 420,000 cell phone users for up to 21 years, found no cancer risk, but much of the data was collected when cell phones were more of a novelty than a primary form of communication. In a smaller recent Israeli study of 1,726 people, heavy cell phone use raised the risk for salivary gland tumors 50 percent on the side on which the subjects usually held the phone (though the risk overall is still vanishingly small). The biggest threat, however, has nothing to do with cancer: Driving while talking on a cell phone puts you in the same league as a drunk driver. You&apos;re four to five times more likely to have an accident.
            .faq-c
              .faq-q
                span.faq-t +
                | Should I really be taking four times the recommended daily dose?
              .faq-a
                p
                  | A growing body of evidence strongly suggests that vitamin D in high doses not only helps keep bones strong but also reduces the risk of colon, ovarian, and breast cancers, and diseases such as diabetes and multiple sclerosis. And many of us don&apos;t get enough because of a lack of exposure to sunlight (the sun triggers D&apos;s production in the skin) or diets that omit good sources (fatty fish such as salmon, mackerel, and tuna, and fortified milk and cereal). While the official daily dose for people age 51 to 70 is 400 IUs, most experts agree that they should aim for 800 to 1,000 IUs of supplemental D a day. But if you&apos;re under 50 and you consume the recommended 200 IUs (the equivalent of two glasses of milk daily) and get 10 to 15 minutes of sun exposure&mdash;without sunscreen&mdash;a day, a 400 IU supplement should do you fine.
            .faq-c
              .faq-q
                span.faq-t +
                | What happens if Pinocchio says, &quot;my nose will grow now&quot;
              .faq-a
                p Certain questions are better left &nbsp; 
            .faq-c
              .faq-q
                span.faq-t +
                | Could my cell phone kill me?
              .faq-a
                p
                  | It seems unlikely. But if you use your mobile phone a lot, consider getting an earpiece or putting your caller on speaker so you can hold the phone away from your head. The biggest study yet, in which Danish researchers tracked 420,000 cell phone users for up to 21 years, found no cancer risk, but much of the data was collected when cell phones were more of a novelty than a primary form of communication. In a smaller recent Israeli study of 1,726 people, heavy cell phone use raised the risk for salivary gland tumors 50 percent on the side on which the subjects usually held the phone (though the risk overall is still vanishingly small). The biggest threat, however, has nothing to do with cancer: Driving while talking on a cell phone puts you in the same league as a drunk driver. You&apos;re four to five times more likely to have an accident.
            .faq-c
              .faq-q
                span.faq-t +
                | Should I really be taking four times the recommended daily dose?
              .faq-a
                p
                  | A growing body of evidence strongly suggests that vitamin D in high doses not only helps keep bones strong but also reduces the risk of colon, ovarian, and breast cancers, and diseases such as diabetes and multiple sclerosis. And many of us don&apos;t get enough because of a lack of exposure to sunlight (the sun triggers D&apos;s production in the skin) or diets that omit good sources (fatty fish such as salmon, mackerel, and tuna, and fortified milk and cereal). While the official daily dose for people age 51 to 70 is 400 IUs, most experts agree that they should aim for 800 to 1,000 IUs of supplemental D a day. But if you&apos;re under 50 and you consume the recommended 200 IUs (the equivalent of two glasses of milk daily) and get 10 to 15 minutes of sun exposure&mdash;without sunscreen&mdash;a day, a 400 IU supplement should do you fine.
            .faq-c
              .faq-q
                span.faq-t +
                | What happens if Pinocchio says, &quot;my nose will grow now&quot;
              .faq-a
                p Certain questions are better left &nbsp; 
            .faq-c
              .faq-q
                span.faq-t +
                | Could my cell phone kill me?
              .faq-a
                p
                  | It seems unlikely. But if you use your mobile phone a lot, consider getting an earpiece or putting your caller on speaker so you can hold the phone away from your head. The biggest study yet, in which Danish researchers tracked 420,000 cell phone users for up to 21 years, found no cancer risk, but much of the data was collected when cell phones were more of a novelty than a primary form of communication. In a smaller recent Israeli study of 1,726 people, heavy cell phone use raised the risk for salivary gland tumors 50 percent on the side on which the subjects usually held the phone (though the risk overall is still vanishingly small). The biggest threat, however, has nothing to do with cancer: Driving while talking on a cell phone puts you in the same league as a drunk driver. You&apos;re four to five times more likely to have an accident.
            .faq-c
              .faq-q
                span.faq-t +
                | Should I really be taking four times the recommended daily dose?
              .faq-a
                p
                  | A growing body of evidence strongly suggests that vitamin D in high doses not only helps keep bones strong but also reduces the risk of colon, ovarian, and breast cancers, and diseases such as diabetes and multiple sclerosis. And many of us don&apos;t get enough because of a lack of exposure to sunlight (the sun triggers D&apos;s production in the skin) or diets that omit good sources (fatty fish such as salmon, mackerel, and tuna, and fortified milk and cereal). While the official daily dose for people age 51 to 70 is 400 IUs, most experts agree that they should aim for 800 to 1,000 IUs of supplemental D a day. But if you&apos;re under 50 and you consume the recommended 200 IUs (the equivalent of two glasses of milk daily) and get 10 to 15 minutes of sun exposure&mdash;without sunscreen&mdash;a day, a 400 IU supplement should do you fine.
            .faq-c
              .faq-q
                span.faq-t +
                | What happens if Pinocchio says, &quot;my nose will grow now&quot;
              .faq-a
                p Certain questions are better left &nbsp; 
            .row
              .col-md-6.col-md-offset-3.text-center
                ul.pagination
                  li.disabled
                    a(href='#') &gt;&gt;
                  li.active
                    a(href='#')
                      | 1 
                      span.sr-only (current)
                  li
                    a(href='#') 2
                  li
                    a(href='#') 3
                  li
                    a(href='#') 4
                  li
                    a(href='#') 5
                  li
                    a(href='#') &gt;&gt;
          aside.col-md-3
            #categories-3.widget.widget_categories
              h4
                span Categories
              ul
                li.cat-item.cat-item-4
                  a(href='#', title='View all posts filed under Data') Data
                li.cat-item.cat-item-3
                  a(href='#', title='View all posts filed under Lesti') Lesti
                li.cat-item.cat-item-5
                  a(href='#', title='View all posts filed under Nean condimentum') Nean condimentum
                li.cat-item.cat-item-1
                  a(href='#', title='View all posts filed under News') News
                li.cat-item.cat-item-21
                  a(href='#', title='View all posts filed under Slide') Slide
            #iw_last_posts-3.widget.widget_iw_last_posts
              h4
                span Last posts whit image
              .row
                .col-md-4.col-xs-3
                  a(href='#')
                    img.img-responsive.h5.wp-post-image(width='150', height='150', src='http://demo.thunderthemes.net/medicals-wp/wp-content/uploads/2014/03/Fotolia_10263841_Subscription_XL2-150x150.jpg', alt='Medical Theme Health and Care')
                .col-md-8.col-xs-9
                  h5
                    a(href='#') Use the images in the posts
                  p
                    time(datetime='2014-03-17') March 17, 2014
                    br
              // /.row
              hr
              .row
                .col-md-4.col-xs-3
                  a(href='#')
                    img.img-responsive.h5.wp-post-image(width='150', height='150', src='http://demo.thunderthemes.net/medicals-wp/wp-content/uploads/2013/11/shutterstock_99130298-150x150.jpg', alt='Medical Theme Health and Care')
                .col-md-8.col-xs-9
                  h5
                    a(href='#') We&rsquo;r doctors!
                  p
                    time(datetime='2013-11-20') November 20, 2013
                    br
              // /.row
              hr
              .row
                .col-md-4.col-xs-3
                  a(href='#')
                    img.img-responsive.h5.wp-post-image(width='150', height='150', src='http://demo.thunderthemes.net/medicals-wp/wp-content/uploads/2013/07/Fotolia_5032040_Subscription_XXL-150x150.jpg', alt='Medical Theme Health and Care')
                .col-md-8.col-xs-9
                  h5
                    a(href='#')
                      | Breathe mountain air is good for your health?
                  p
                    time(datetime='2013-07-17') July 17, 2013
                    br
              // /.row
              hr
              .row
                .col-md-4.col-xs-3
                  a(href='#')
                    img.img-responsive.h5.wp-post-image(width='150', height='150', src='http://demo.thunderthemes.net/medicals-wp/wp-content/uploads/2013/05/shutterstock_85440868-150x150.jpg', alt='Medical Theme Health and Care')
                .col-md-8.col-xs-9
                  h5
                    a(href='#') Food and shopping in medical real world and its consequence
                  p
                    time(datetime='2013-05-19') May 19, 2013
                    br
              // /.row
              hr
              .row
                .col-md-4.col-xs-3
                  a(href='#')
                    img.img-responsive.h5.wp-post-image(width='150', height='150', src='http://demo.thunderthemes.net/medicals-wp/wp-content/uploads/2013/05/iStock_000027630618XXLarge-150x150.jpg', alt='Medical Theme Health and Care')
                .col-md-8.col-xs-9
                  h5
                    a(href='#') Demo post 11
                  p
                    time(datetime='2013-05-17') May 17, 2013
                    br
              // /.row
              hr
            #text-3.widget.widget_text
              h4
                span Text widget
              .textwidget
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            #tag_cloud-3.widget.widget_tag_cloud
              h4
                span Tags
              .tagcloud
                a(href='#', title='2 topics', style='font-size: 16.4pt;') care
                a(href='#', title='2 topics', style='font-size: 16.4pt;') data
                a(href='#', title='2 topics', style='font-size: 16.4pt;') demo
                a(href='#', title='2 topics', style='font-size: 16.4pt;') healthcare
                a(href='#', title='1 topic', style='font-size: 8pt;') heart
                a(href='#', title='1 topic', style='font-size: 8pt;') insert
                a(href='#', title='3 topics', style='font-size: 22pt;') medicals
                a(href='#', title='2 topics', style='font-size: 16.4pt;') post
                a(href='#', title='2 topics', style='font-size: 16.4pt;') premium
                a(href='#', title='1 topic', style='font-size: 8pt;') theme
                a(href='#', title='3 topics', style='font-size: 22pt;') wordpress

    script.
      $(document).ready(function() {
        new WOW().init();
      }
      
    script(type='text/javascript').
      $(".faq-q").click( function () {
        var container = $(this).parents(".faq-c");
        var answer = container.find(".faq-a");
        var trigger = container.find(".faq-t");
        answer.slideToggle(200);
        if (trigger.hasClass("faq-o")) {
          trigger.removeClass("faq-o");
        }
        else {
          trigger.addClass("faq-o");
        }
      });
