---
title: "Home"
layout: "default"
TopMenuCategory: "Home"
scripts: ['/js/index.js']
priority: 1.0
---

block content
  section.heading-slider
    #starting-slider.owl-carousel.owl-theme
      .item
        .slider-1
          .slider-inner
            .container
              .row
                .col-md-12
                  .slider-inner-text
                    h1 Surgeon Led Clinics
                    p
                      | Experienced Consultant Surgeons and Nurses with full NHS practises specialising in
                      | Vasular Surgery treating the full range of conditions effecting veins and arteries

      .item
        .slider-2
          .slider-inner
            .container
              .row
                .slider-inner-text
                  h1 Modern Treaments
                  p
                    | Laser EVLT, Radio-frequency ablation RFA and Foam / Micro Sclerotherapy offered by Doctor run clinics

                  a.btn.btn-success.btn-lg(role="button", href="/treatments.html") View Treatments
                  span.seperate-buttons &nbsp;
                  a.btn.btn-success.btn-lg(role="button", href="/team.html") Meet the Team

      .item
        .slider-3
          .slider-inner
            .container
              .row
                .slider-inner-text
                  h1 No obligation consultation
                  p
                    | Free 10 minute consultations where we offer imparitial advise

                  a.btn.btn-success.btn-lg(role="button", href="tel:08000209511") Call Us
                  span.seperate-buttons Or
                  a.btn.btn-success.btn-lg(role="button", href="/contact.html") Contact Us Online

  section.starting-text
    .container
      .row
        .welcome
          h2.welcome-title Welcome To The Surrey Vein Clinic
          p.welcome-txt
            | A private clinic specialising in the treatment of varicose veins, spider veins, facial flare / thread veins and other vascular conditions. Backed
            | by a team of surgeons, radiologists and nurse practitioners who have NHS practises at 
            a(href="http://www.frimleyhealth.nhs.uk/") Frimley Health NHS Trust 
            |, the first NHS Trust to recieve a 
            a(href="http://www.cqc.org.uk/provider/RDU") CQC Outstanding Rating 
          button.welcome-btn Read More

  section#services
    .container
      .row
        .col-lg-12.col-sm-12.col-xs-12
          h2.headline.text-center
            | Why Choose Us
          p.sub-headline.text-center
            | We offer a comprehensive range of modern treatments including minimally invasive EVLT Laser, Radio Frequency Ablation (RFA),
            | Foam Sclerotherapy and Micro Sclerotherapy for thread and spider veins. We run clinics from a number of locations including
            | Surrey, Hampshire, Berkshire and Ascot and at times to suit you. All clinics are run by Consultant Surgeons

  section#testimonial.text-center
    .testimonial-wrapper
      .container
        .row.client-content.text-center
          .col-md-8
            .row
              h1 Testimonial
            .row
              .sub-headline
                p What Our Patients Say About Us
            #carousel-quotes.carousel.slide(data-ride='carousel')
              // Wrapper for slides
              .carousel-inner(role='listbox')
                .item.active
                  #client-speech
                    .item
                      .row
                        .col-md-12
                          i.fa.fa-quote-left
                        .col-md-8.col-md-offset-2
                          p.client-comment.text-center
                            | When you form a team, why do you try to form a team? Because teamwork builds trust and trust builds speed.
                        .col-md-12
                          i.fa.fa-quote-right
                        .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-6.col-xs-offset-3
                          img.img-circle.img-responsive.center-block(src='/img/client3.jpg', alt='Image')
                      .row.text-center
                        p.client-name.text-center Julia Doe

                .item
                  #client-speech
                    .item
                      .row
                        .col-md-12
                          i.fa.fa-quote-left
                        .col-md-8.col-md-offset-2
                          p.client-comment.text-center
                            | When you form a team, why do you try to form a team? Because teamwork builds trust and trust builds speed.
                        .col-md-12
                          i.fa.fa-quote-right
                        .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-6.col-xs-offset-3
                          img.img-circle.img-responsive.center-block(src='/img/client1.jpg', alt='Image')
                      .row.text-center
                        p.client-name.text-center John Doe

                .item
                  #client-speech
                    .item
                      .row
                        .col-md-12
                          i.fa.fa-quote-left
                        .col-md-8.col-md-offset-2
                          p.client-comment.text-center
                            | When you form a team, why do you try to form a team? Because teamwork builds trust and trust builds speed.
                        .col-md-12
                          i.fa.fa-quote-right
                        .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-6.col-xs-offset-3
                          img.img-circle.img-responsive.center-block(src='/img/client4.jpg', alt='Image')
                      .row.text-center
                        p.client-name.text-center Jane Doe

              a.left.carousel-control(href='#carousel-quotes', role='button', data-slide='prev')
                i.fa.fa-angle-left.fa-3x
                span.sr-only Previous
              a.right.carousel-control(href='#carousel-quotes', role='button', data-slide='next')
                i.fa.fa-angle-right.fa-3x
                span.sr-only Next

          .col-md-4
            .appointment
              .header.text-center
                h2 Make an Appointment
                a.number(href='#')
                  i.fa.fa-phone.fa-fw
                  | 0800 123 4567
                span.or OR
              // form of appointment
              .row
                form(method='post', action='#')
                  .form
                    .input-group.margin-bottom-sm.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
                      input.form-control(type='text', placeholder='Full Name *', required='')
                    .input-group.margin-bottom-sm.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
                      input.form-control(type='text', placeholder='Email Address *', required='')
                    .input-group.margin-bottom-sm.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
                      input.form-control(type='text', placeholder='Appointment Date *', required='')
                    .input-group.margin-bottom-sm.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
                      input.form-control(type='text', placeholder='Mobile Number *', required='')
                  .input-group.margin-bottom-sm.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
                    textarea.form-control(rows='6', placeholder='Your Problem *', required='')
                  .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
                    .captcha-container
                      label Are you human? 
                      br
                      img(src='http://inspirythemesdemo.com/healthpress/wp-content/themes/healthpress-theme/captcha/captcha.php', alt='')
                      input.captcha.required(type='text', name='captcha', maxlength='5', title=' Please enter the code characters displayed in image!')
                    input.btn.btn-primary.send(type='submit', value='Send')
              // end of form
            // end of appointment
        // client-content
  // testimonial
