---
title: "Our Services"
layout: "default"
TopMenuCategory: "Services"
scripts: ['']
priority: 1.0
---

block content
  section.service-title.text-center
    .service-wrapper
      .container
        .row
          h2.headline Featured Services
        .row
          .sub-headline
            p Lorem ipsum dolor sit amet, consectetur 
  section.featured-service-content
    .container
      .row
        .col-sm-4.service
          .row.text-center
            .service-icon.text-center
              i.fa.fa-eye.fa-5x
          .row.text-center
            .about-service
              h3.text-center Diagnostic Imaging
              p.text-center
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud
        // col-sm-4
        .col-sm-4.service
          .row.text-center
            .service-icon.text-center
              i.fa.fa-stethoscope.fa-5x
          .row.text-center
            .about-service
              h3.text-center Cancer Care
              p.text-center
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud
        // col-sm-4
        .col-sm-4.service
          .row.text-center
            .service-icon.text-center
              i.fa.fa-medkit.fa-5x
          .row.text-center
            .about-service
              h3.text-center Rehabilitation Center
              p.text-center
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud
        // col-sm-4
        .col-sm-4.service
          .row.text-center
            .service-icon.text-center
              i.fa.fa-ambulance.fa-5x
          .row.text-center
            .about-service
              h3.text-center Emergency Services
              p.text-center
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud
        // col-sm-4
        .col-sm-4.service
          .row.text-center
            .service-icon.text-center
              i.fa.fa-tint.fa-5x
          .row.text-center
            .about-service
              h3.text-center Transplant Services
              p.text-center
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud
        // col-sm-4
        .col-sm-4.service
          .row.text-center
            .service-icon.text-center
              i.fa.fa-clock-o.fa-5x
          .row.text-center
            .about-service
              h3.text-center 24 Hours Service
              p.text-center
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud
        // col-sm-4
  section.special-service-content
    .container
      .row
        .col-md-8
          .special-service
            h2
              span Special Services
            .service-tab
              ul.nav.nav-tabs(role='tablist')
                li.active
                  a(href='#all', role='tab', data-toggle='tab') All
                li
                  a(href='#dental', role='tab', data-toggle='tab') Dental Service
                li
                  a(href='#diagnostic', role='tab', data-toggle='tab') Diagnostic Serivce
                li
                  a(href='#rehabilitation', role='tab', data-toggle='tab') Rehabilitation Serivce
                li
                  a(href='#donor', role='tab', data-toggle='tab') Donation Serivce
              #myTabContent.tab-content
                #all.tab-pane.fade.in.active
                  .row.service-item
                    .col-md-5
                      img.img-responsive.center-block(src='/img/diagnostic1.jpg', alt='')
                    .col-md-7
                      h3 Latest Diagnostic Technology
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae earum quod aliquid nulla ab obcaecati aut quae, illum voluptates maxime. Mollitia eius voluptas laboriosam odio quod quisquam aliquid quas obcaecati.
                      a.service-rm-btn.btn.btn-primary(href='#')
                        | View Full Description 
                        i.fa.fa-caret-right
                  .row.service-item
                    .col-md-5
                      img.img-responsive.center-block(src='/img/dental1.jpg', alt='')
                    .col-md-7
                      h3 Complete Dental Care
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae earum quod aliquid nulla ab obcaecati aut quae, illum voluptates maxime. Mollitia eius voluptas laboriosam odio quod quisquam aliquid quas obcaecati.
                      a.service-rm-btn.btn.btn-primary(href='#')
                        | View Full Description 
                        i.fa.fa-caret-right
                  .row.service-item
                    .col-md-5
                      img.img-responsive.center-block(src='/img/donor1.jpg', alt='')
                    .col-md-7
                      h3 Blood Donation - You can also save life
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae earum quod aliquid nulla ab obcaecati aut quae, illum voluptates maxime. Mollitia eius voluptas laboriosam odio quod quisquam aliquid quas obcaecati.
                      a.service-rm-btn.btn.btn-primary(href='#')
                        | View Full Description 
                        i.fa.fa-caret-right
                  .row.service-item
                    .col-md-5
                      img.img-responsive.center-block(src='/img/rehabilitation2.jpg', alt='')
                    .col-md-7
                      h3 Elderly Care
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae earum quod aliquid nulla ab obcaecati aut quae, illum voluptates maxime. Mollitia eius voluptas laboriosam odio quod quisquam aliquid quas obcaecati.
                      a.service-rm-btn.btn.btn-primary(href='#')
                        | View Full Description 
                        i.fa.fa-caret-right
                #dental.tab-pane.fade
                  .row.service-item
                    .col-md-5
                      img.img-responsive.center-block(src='/img/dental1.jpg', alt='')
                    .col-md-7
                      h3 Always Take Care of Your Teeth
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae earum quod aliquid nulla ab obcaecati aut quae, illum voluptates maxime. Mollitia eius voluptas laboriosam odio quod quisquam aliquid quas obcaecati.
                      a.service-rm-btn.btn.btn-primary(href='#')
                        | View Full Description 
                        i.fa.fa-caret-right
                  .row.service-item
                    .col-md-5
                      img.img-responsive.center-block(src='/img/dental2.jpg', alt='')
                    .col-md-7
                      h3 Complete Dental Care
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae earum quod aliquid nulla ab obcaecati aut quae, illum voluptates maxime. Mollitia eius voluptas laboriosam odio quod quisquam aliquid quas obcaecati.
                      a.service-rm-btn.btn.btn-primary(href='#')
                        | View Full Description 
                        i.fa.fa-caret-right
                #diagnostic.tab-pane.fade
                  .row.service-item
                    .col-md-5
                      img.img-responsive.center-block(src='/img/diagnostic1.jpg', alt='')
                    .col-md-7
                      h3 Latest Diagnostic Technology
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae earum quod aliquid nulla ab obcaecati aut quae, illum voluptates maxime. Mollitia eius voluptas laboriosam odio quod quisquam aliquid quas obcaecati.
                      a.service-rm-btn.btn.btn-primary(href='#')
                        | View Full Description 
                        i.fa.fa-caret-right
                  .row.service-item
                    .col-md-5
                      img.img-responsive.center-block(src='/img/diagnostic2.jpg', alt='')
                    .col-md-7
                      h3 Women&apos;s Diagnostic Imaging In A Comforting Environment.
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae earum quod aliquid nulla ab obcaecati aut quae, illum voluptates maxime. Mollitia eius voluptas laboriosam odio quod quisquam aliquid quas obcaecati.
                      a.service-rm-btn.btn.btn-primary(href='#')
                        | View Full Description 
                        i.fa.fa-caret-right
                #rehabilitation.tab-pane.fade
                  .row.service-item
                    .col-md-5
                      img.img-responsive.center-block(src='/img/rehabilitation1.jpg', alt='')
                    .col-md-7
                      h3 Enhanced Rehabilitation
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae earum quod aliquid nulla ab obcaecati aut quae, illum voluptates maxime. Mollitia eius voluptas laboriosam odio quod quisquam aliquid quas obcaecati.
                      a.service-rm-btn.btn.btn-primary(href='#')
                        | View Full Description 
                        i.fa.fa-caret-right
                  .row.service-item
                    .col-md-5
                      img.img-responsive.center-block(src='/img/rehabilitation2.jpg', alt='')
                    .col-md-7
                      h3 Elderly Care
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae earum quod aliquid nulla ab obcaecati aut quae, illum voluptates maxime. Mollitia eius voluptas laboriosam odio quod quisquam aliquid quas obcaecati.
                      a.service-rm-btn.btn.btn-primary(href='#')
                        | View Full Description 
                        i.fa.fa-caret-right
                #donor.tab-pane.fade
                  .row.service-item
                    .col-md-5
                      img.img-responsive.center-block(src='/img/donor1.jpg', alt='')
                    .col-md-7
                      h3 You&apos;re Welcome To Donate Our Clinic
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae earum quod aliquid nulla ab obcaecati aut quae, illum voluptates maxime. Mollitia eius voluptas laboriosam odio quod quisquam aliquid quas obcaecati.
                      a.service-rm-btn.btn.btn-primary(href='#')
                        | View Full Description 
                        i.fa.fa-caret-right
                  .row.service-item
                    .col-md-5
                      img.img-responsive.center-block(src='/img/donor2.jpg', alt='')
                    .col-md-7
                      h3 Blood Donation - You can also save life
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae earum quod aliquid nulla ab obcaecati aut quae, illum voluptates maxime. Mollitia eius voluptas laboriosam odio quod quisquam aliquid quas obcaecati.
                      a.service-rm-btn.btn.btn-primary(href='#')
                        | View Full Description 
                        i.fa.fa-caret-right
        .col-md-4
          .appointment
            .header.text-center
              h2 Make an Appointment
              a.number(href='#')
                i.fa.fa-phone.fa-fw
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;1-800-123-4567
              span.or OR
            // form of appointment
            .row
              form(method='post', action='#')
                .form
                  .input-group.margin-bottom-sm.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
                    input.form-control(type='text', placeholder='Full Name *', required='')
                  .input-group.margin-bottom-sm.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
                    input.form-control(type='text', placeholder='Email Address *', required='')
                  .input-group.margin-bottom-sm.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
                    input.form-control(type='text', placeholder='Appointment Date *', required='')
                  .input-group.margin-bottom-sm.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
                    input.form-control(type='text', placeholder='Mobile Number *', required='')
                .input-group.margin-bottom-sm.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
                  textarea.form-control(rows='6', placeholder='Your Problem *', required='')
                .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
                  .captcha-container
                    label Are you human? 
                    br
                    img(src='http://inspirythemesdemo.com/healthpress/wp-content/themes/healthpress-theme/captcha/captcha.php', alt='')
                    input.captcha.required(type='text', name='captcha', maxlength='5', title=' Please enter the code characters displayed in image!')
                  input.btn.btn-primary.send(type='submit', value='Send')
            // end of form
          // end of appointment

  script.
    new WOW().init();
  script.
    $('#myTab a').click(function (e){
      e.preventDefault()
      $(this).tab('show')
    });
