---
title: "Meet the team"
layout: "default"
TopMenuCategory: "Team"
scripts: ['/js/index.js_dis']
priority: 1.0
---

block content
  section#starting
    .starting-wrapper
      .container
        .row
          .team-button
            .col-md-12
              h1.main-title.wow.animated.fadeInLeft Our Doctors
            .col-md-12
              h2.sub-title.wow.animated.flipInX(data-wow-delay='1s') Meet With Our Team
  .doctor-portfolio
    .container
      .row
        .col-lg-12.col-sm-12.col-xs-12
          h2.headline.text-center
            | Why Choose Us
          p.sub-headline.text-center
            | Lorem ipsum dolor sit amet, consectetur
          hr
  section.doctor-list
    .container
      .row
        .col-lg-4.col-sm-6.col-xs-12
          .doctor-meta
            .doctor-img
              img.img-responsive.center-block(src='/img/team/Peter_Leopold.png', alt='Peter Leopold')
            .doctor-info
              .row
                .doctor-name.text-center
                  | Peter Leopold
              .row
                .position.text-center
                  | Vascular Surgeon
              .row
                .doctor-des.text-center
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores minima eaque blanditiis ipsa, doloribus consectetur provident officiis voluptatem magni molestias optio eius, minus aliquam fugit officia temporibus aspernatur voluptatibus nesciunt!
              .row
                .doctor-social.text-center
                  ul.contact
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Share in Facebook')
                        i.fa.fa-facebook
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Connect with Skype')
                        i.fa.fa-skype
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Share in Google +')
                        i.fa.fa-google-plus
        .col-lg-4.col-sm-6.col-xs-12
          .doctor-meta
            .doctor-img
              img.img-responsive.center-block(src='/img/team/David_Gerrard.png', alt='David Gerrard')
            .doctor-info
              .row
                .doctor-name.text-center
                  | David Gerrard
              .row
                .position.text-center
                  | Vascular Surgeon
              .row
                .doctor-des.text-center
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores minima eaque blanditiis ipsa, doloribus consectetur provident officiis voluptatem magni molestias optio eius, minus aliquam fugit officia temporibus aspernatur voluptatibus nesciunt!
              .row
                .doctor-social.text-center
                  ul.contact
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Share in Facebook')
                        i.fa.fa-facebook
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Connect with Skype')
                        i.fa.fa-skype
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Share in Google +')
                        i.fa.fa-google-plus
        .col-lg-4.col-sm-6.col-xs-12
          .doctor-meta
            .doctor-img
              img.img-responsive.center-block(src='/img/team/Neville_Dastur.png', alt='Neville Dastur')
            .doctor-info
              .row
                .doctor-name.text-center
                  | Neville Dastur
              .row
                .position.text-center
                  | Vascular Surgeon
              .row
                .doctor-des.text-center
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores minima eaque blanditiis ipsa, doloribus consectetur provident officiis voluptatem magni molestias optio eius, minus aliquam fugit officia temporibus aspernatur voluptatibus nesciunt!
              .row
                .doctor-social.text-center
                  ul.contact
                    li.online-contact
                      a(href='http://uk.linkedin.com/in/nevilledastur', data-toggle='tooltip', title='LinkedIn Profile')
                        i.fa.fa-linkedin
                    li.online-contact
                      a(href='https://twitter.com/nevilledastur', data-toggle='tooltip', title='Connect with Twitter')
                        i.fa.fa-twitter
        .col-lg-4.col-sm-6.col-xs-12
          .doctor-meta
            .doctor-img
              img.img-responsive.center-block(src='/img/team/Marcus_Cleanthis.png', alt='Marcus Cleanthis')
            .doctor-info
              .row
                .doctor-name.text-center
                  | Marcus Cleanthis
              .row
                .position.text-center
                  | Vascular Surgeon
              .row
                .doctor-des.text-center
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores minima eaque blanditiis ipsa, doloribus consectetur provident officiis voluptatem magni molestias optio eius, minus aliquam fugit officia temporibus aspernatur voluptatibus nesciunt!
              .row
                .doctor-social.text-center
                  ul.contact
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Share in Facebook')
                        i.fa.fa-facebook
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Connect with Skype')
                        i.fa.fa-skype
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Share in Google +')
                        i.fa.fa-google-plus
        .col-lg-4.col-sm-6.col-xs-12
          .doctor-meta
            .doctor-img
              img.img-responsive.center-block(src='/img/team/Sabine_Sonnenberg.png', alt='Sabine Sonnenberg')
            .doctor-info
              .row
                .doctor-name.text-center
                  | Sabine Sonnenberg
              .row
                .position.text-center
                  | Vascular Surgeon
              .row
                .doctor-des.text-center
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores minima eaque blanditiis ipsa, doloribus consectetur provident officiis voluptatem magni molestias optio eius, minus aliquam fugit officia temporibus aspernatur voluptatibus nesciunt!
              .row
                .doctor-social.text-center
                  ul.contact
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Share in Facebook')
                        i.fa.fa-facebook
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Connect with Skype')
                        i.fa.fa-skype
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Share in Google +')
                        i.fa.fa-google-plus
        .col-lg-4.col-sm-6.col-xs-12
          .doctor-meta
            .doctor-img
              img.img-responsive.center-block(src='/img/team/Andrew_Hatrick.png', alt='Andrew Hatrick')
            .doctor-info
              .row
                .doctor-name.text-center
                  | Andrew Hatrick
              .row
                .position.text-center
                  | Consultant Radiologist
              .row
                .doctor-des.text-center
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores minima eaque blanditiis ipsa, doloribus consectetur provident officiis voluptatem magni molestias optio eius, minus aliquam fugit officia temporibus aspernatur voluptatibus nesciunt!
              .row
                .doctor-social.text-center
                  ul.contact
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Share in Facebook')
                        i.fa.fa-facebook
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Connect with Skype')
                        i.fa.fa-skype
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Share in Google +')
                        i.fa.fa-google-plus
        .col-lg-4.col-sm-6.col-xs-12
          .doctor-meta
            .doctor-img
              img.img-responsive.center-block(src='/img/team/Jeremy_Taylor.png', alt='Jermey Taylor')
            .doctor-info
              .row
                .doctor-name.text-center
                  | Jermey Taylor
              .row
                .position.text-center
                  | Consultant Radiologist
              .row
                .doctor-des.text-center
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores minima eaque blanditiis ipsa, doloribus consectetur provident officiis voluptatem magni molestias optio eius, minus aliquam fugit officia temporibus aspernatur voluptatibus nesciunt!
              .row
                .doctor-social.text-center
                  ul.contact
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Share in Facebook')
                        i.fa.fa-facebook
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Connect with Skype')
                        i.fa.fa-skype
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Share in Google +')
                        i.fa.fa-google-plus

        .col-lg-4.col-sm-6.col-xs-12
          .doctor-meta
            .doctor-img
              img.img-responsive.center-block(src='/img/team/Daisy_Ferando.png', alt='Daisy Ferando')
            .doctor-info
              .row
                .doctor-name.text-center
                  | Daisy Ferando
              .row
                .position.text-center
                  | Specialist Theatre Sister
              .row
                .doctor-des.text-center
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores minima eaque blanditiis ipsa, doloribus consectetur provident officiis voluptatem magni molestias optio eius, minus aliquam fugit officia temporibus aspernatur voluptatibus nesciunt!
              .row
                .doctor-social.text-center
                  ul.contact
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Share in Facebook')
                        i.fa.fa-facebook
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Connect with Skype')
                        i.fa.fa-skype
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Share in Google +')
                        i.fa.fa-google-plus

  script.
    new WOW().init();
